<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1>
        <%= titlePage %>
    </h1>
    <p class="lead">Iniciar um sorteador por tipo.</p>
    <button class="btn btn-lg btn-primary" onclick="showModal();" role="button">
        Novo Sorteio &raquo;
    </button>

    <h3 class="mt-4 text-center text-bold">Sorteios anteriores</h3>

    <div class="card mb-4">
        <table class="table" id="tableSorteiios">
            <thead>
                <tr>
                    <th style="width: 1%;" scope="col">#</th>
                    <th scope="col">Sorteio</th>
                    <th style="width: 1%;" scope="col">Data</th>
                    <th style="width: 1%;" scope="col"></th>
                    <th style="width: 1%;" scope="col"></th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <th></th>
                    <th></th>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal fade" id="crud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body mx-auto">
        <div class="spinner-border" role="status"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script src="/public/js/sorteadores/index.js"></script>