<!DOCTYPE html>
<html>

<head>
    <title>
        Sorteador
    </title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="/public/css/cssUtilities.css" rel="stylesheet" />
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="/node_modules/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link href="/node_modules/flatpickr/dist/themes/airbnb.css" rel="stylesheet">

    <script src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/node_modules/sweetalert/dist/sweetalert.min.js" crossorigin="anonymous"></script>
    <script src="/node_modules/flatpickr/dist/flatpickr.min.js"></script>
    <script src="/node_modules/flatpickr/dist/l10n/pt.js"></script>
    <script src="/node_modules/inputmask/dist/inputmask.min.js"></script>
    <script src="/node_modules/moment/min/moment.min.js"></script>
    <script src="/node_modules/moment/locale/pt-br.js"></script>
</head>

<body>
    <main class="container">
        <%- include(content, data) %>
    </main>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bottom navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Dropup</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/public/js/jsUtilities.js"></script>
</body>

</html>